<div id="<%= dom_id flight %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled at:</strong>
    <%= flight.scheduled_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= flight.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= flight.completed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total hours:</strong>
    <%= flight.total_hours %>
  </p>

</div>
